{% extends 'layout/layout.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/registroAsistencia/styles.css' %}">
{% endblock stylesheets %}  

{% block content %}

<div class="container mt-5 pt-5">
    <div class="row mt-5" >
        <div class="col-auto mx-auto">
            <div class="card text-center">
                <div class="card-header">
                  Registro de asistencia
                </div>
                <div class="card-body">
                  <h5 class="card-title">Asistencia Registrada con Éxito</h5>
                  <p class="card-text mt-3 mb-0">Nombre: Alan Garcia Diaz</p>
                  <p class="card-text my-0">Fecha: 12/12/2020</p>
                  <p class="card-text my-0">Hora: 12:00</p>
                  <a href="#" class="btn btn-primary mt-3">Aceptar</a>
                </div>
              </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock js %}
