<link rel="stylesheet" href="../../static/css/credenciales/frente.css" />
<div class="contenedor_credencial">
  <div class="logo_tec">
    <img src="../../static/img/TecNM_logo.png" alt="Logotipo TECNM" />
  </div>
  <div class="contenido_credencial">
    <div class="datos_credencial">
      <div class="container_foto">foto</div>
      <div class="datos_personales">
        <div class="datos_nombre">
            <p class="nombre">Juan</p>
            <p class="apellidos">Peréz Lopez</p>
        </div>
        <div class="datos_cargo">
            <p class="title_cargo">Cargo:</p>
            <p class="cargo">Profesor Asociado C</p>
        </div>
      </div>
    </div>
  </div>
</div>
