{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Gothic+A1&family=KoHo&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="../../static/css/credenciales/credencialfrente.css" />
<div class="contenedor_credencial">
  <div class="logo_tec">
    <img src="../../static/img/TecNM_logo.png" alt="Logotipo TECNM" />
  </div>
  <div class="contenido_credencial">
    <div class="datos_credencial">
      <div class="container_foto">
        <img src="../../static/img/estudiante.jpeg" alt="Su Foto" />
      </div>
      <div class="datos_personales">
        <div class="datos_nombre">
          <p class="nombre">Juan Diego</p>
          <p class="apellidos">Pérez Lopez</p>
        </div>
        <div class="datos_cargo">
          <p class="title_cargo">Asesor</p>
        </div>
      </div>
    </div>
    <div class="informacion_adicional">
      <div class="tec_procedencia">
        <div class="logo_tec_procedencia">
          <img
            src="../../static/img/1200px-Tec-Tuxtla_Logo.svg.png"
            alt="Logotipo Tec de procedencia"
          />
        </div>
        <div class="texto_procedencia">
          <p>Tecnológico de <br />Tuxtla Gutierrez</p>
        </div>
      </div>
      <div class="logo_enecb">
        <img src="../../static/img/enecblogo.png" alt="Logo ENECB 2023" />
      </div>
    </div>
  </div>
  <div class="decorador_frente">
    <svg
      class="separator"
      xmlns="http://www.w3.org/2000/svg"
      width="100%"
      height="3.5rem"
      viewBox="0.2 0 178 30"
      preserveAspectRatio="none"
      transform="rotate(180) translate(0 5)"
    >
      <g transform="translate(-14.514284,-115.36352)">
        <path
          style="fill: #4074b5"
          d="m 14.74107,115.49581 h 178.02679 v 30.61607 h -29.10417 v -12.47321 h -10.58333 v -8.31548 h -13.98512 v 13.98512 h -20.41072 v -13.98512 h -8.31547 v 7.18155 h -7.18155 v 10.9613 H 85.422617 v -10.9613 H 68.791666 V 121.54343 H 51.40476 v 15.875 H 29.860117 v -9.82739 h -8.693452 v -7.55952 h -6.520089 v -4.53571 z"
        ></path>
        <path
          style="fill: #29235c"
          d="M 14.741071,112.54762 H 192.76786 v 30.61607 H 163.66369 V 130.69048 H 153.08036 V 122.375 h -13.98512 v 13.98512 H 118.68452 V 122.375 h -8.31547 v 7.18155 h -7.18155 v 10.9613 H 85.422617 v -10.9613 H 68.791666 V 118.59524 H 51.40476 v 15.875 H 29.860118 v -9.82739 h -8.693452 v -7.55952 h -6.520089 v -4.53571 z"
        ></path>
      </g>
    </svg>
  </div>
</div>
