<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Gothic+A1&family=KoHo&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/css/credenciales/frente.css" />
    <link rel="stylesheet" href="../../static/css/credenciales/back.css" />
    <link rel="stylesheet" href="../../static/css/credenciales/mostrarCredenciales.css" />
    <title>Gafete</title>
  </head>
  <body>
    <div class="contenedor_credenciales">
        <div class="credencial_frente">
            {% include 'credenciales/credencialesFront.html' %}
          </div>
          <div class="credencial_reverso">
            {% include 'credenciales/credencialesBack.html' %}
          </div>
    </div>
  </body>
</html>
