
{% extends 'layout/layoutFormal.html' %}
{% load static %}
{% block content %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
  href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Gothic+A1&family=KoHo&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'css/credenciales/credencialback.css' %}">
<link rel="stylesheet" href="{% static 'css/credenciales/credencialfrente.css' %}" />
    <link rel="stylesheet" href="{% static 'css/credenciales/mostrarCredenciales.css' %}" />
    <title>Gafete</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js"></script>
  </head>
  <body class="mostrar_credenciales">
    <div class="contenedor_credenciales">
          <div class="credencial_frente">
            {% include 'credenciales/credencialesFront.html' %}
          </div>
          <div class="credencial_reverso">
            {% include 'credenciales/credencialesBack.html' %}
          </div>
    </div>
    <div class="container_buttons">
      <form method="POST">{% csrf_token %}
        
        {% comment %} {% endcomment %}
        {% comment %} <button type="submit" class="btn btn-primary text-center"><i class="fa-solid fa-file-arrow-down"></i></button> {% endcomment %}
      </form>
      <button class="btn btn-primary" id="rotate-card">
        <i class="fa-solid fa-rotate"></i>
      </button>
      {% comment %} <button class="btn btn-primary"  onclick="generarPDF('{{usuario.pk}}')">
        <i class="fa-solid fa-file-arrow-down"></i>
      </button> {% endcomment %}
    </div>

    <script src="{% static 'js/credencial/mostrarCredencial.js' %}"></script>
    {% comment %} <script>
      function generarPDF() {
        // Seleccionar el cuerpo del documento HTML
        var element = document.body;

        // Opciones para la generación del PDF
        var options = {
          margin: 10,
          filename: "documento.pdf",
          image: { type: "jpeg", quality: 0.98 },
          html2canvas: { scale: 2 },
          jsPDF: { unit: "mm", format: "a4", orientation: "portrait" },
        };

        // Usar html2pdf para generar el PDF
        html2pdf(element, options);
      }
    </script> {% endcomment %}
    <script>
      function generarPDF(id) {
          var url = `/descarga/pdf/${id}` 
          // Realizar una solicitud AJAX para obtener el HTML de la vista Django
          fetch(url)
              .then(response => response.text())
              .then(html => {
                  // Crear un elemento div temporal y agregar el HTML cargado
                  var tempDiv = document.createElement('div');
                  tempDiv.innerHTML = html;

                  // Opciones para la generación del PDF
                  var options = {
                      margin: 10,
                      filename: "documento.pdf",
                      image: { type: "jpeg", quality: 0.98 },
                      html2canvas: { scale: 2 },
                      jsPDF: { unit: "mm", format: "a4", orientation: "landscape" },
                  };

                  // Usar html2pdf para generar el PDF a partir del nuevo HTML
                  html2pdf(tempDiv, options);
              })
              .catch(error => {
                  console.error('Error al cargar el HTML:', error);
              });
      }

    </script>
  </body>
  {% endblock %}