
{% extends 'layout/layout.html' %}
{% load static %}
{% block content %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" href="../../static/css/credenciales/mostrarCredenciales.css" />
    <title>Gafete</title>
  </head>
  <body class="mostrar_credenciales">
    <div class="contenedor_credenciales">
        <div class="credencial_frente">
            {% include 'credenciales/credencialesFront.html' %}
          </div>
          <div class="credencial_reverso">
            {% include 'credenciales/credencialesBack.html' %}
          </div>
    </div>
    <form method="POST">{% csrf_token %}
      <button type="submit">Descargar</button>
    </form>
    <div class="rotate-card" id="rotate-card">
      Rotar
    </div>
    <script src="{% static 'js/credencial/mostrarCredencial.js' %}"></script>
  </body>
  {% endblock %}