.mostrar_credenciales {
  /* margin-top: 10rem; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.contenedor_credenciales {
  margin: 0 auto;
  width: 20rem;
  height: 30rem;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}
/* .contenedor_credenciales:hover,
.contenedor_credenciales:active {
  cursor: pointer;
  transform: rotateY(180deg);
} */
.credencial_frente,
.credencial_reverso {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.efecto_rotar {
  transform: rotateY(180deg);
}
.credencial_reverso {
  transform: rotateY(180deg);
}
/* .rotate-card{
  text-align: center;
  height: 2.5rem;
  border-radius: 5px;
  width: 5rem;
  color: white;
  background-color: #29235c;
}
.rotate-card:hover{
  cursor: pointer;
} */
.container_buttons {
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}
button {
  width: 5rem;
}
i {
  margin: 0 auto;
}
.cont_pdf {
  margin: 2rem 0;
  justify-content: flex-end;
}

.mostrar_credenciales2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor_credenciales2 {
  position: relative;
}
